# Ignore database files
*.sqlite3

# Ignore static files
/static/

# Ignore media files
/media/

# Ignore environment-specific settings
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore local development settings
/local_settings.py

# Ignore log files
*.log

# Ignore cache and temporary files
*.swp
*.swo
*.bak
*.tmp
*.cache/
*.pyc

# Ignore Django migration files
**/migrations/*.py
**/migrations/*.pyc
**/migrations/__pycache__/